#nextbutton {
  width: 33%;
  height: 10%;
  position: absolute;
top: 10px;
  left: 10%;
  background-color: #AD50FF;
  border: 0.2em solid white;
  text-align: center;
  color: #FFF;
  border-radius: 100px;
  z-index:999;
}

#nextbutton:active {
  background-color: white;
  color: #AD50FF;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace;
}
