.toggle {
  width: 12vw;
  height: 6vh;
  left: 80%;
  transform: translateX(-50%);
  position: absolute;
  font-size: medium;
  font-family: sans-serif;
  background-color:transparent;

  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 10px;
  z-index: 100;
}

#swap-cam-btn {
  bottom: 10vh;
}
#redo-button {
  bottom: 2vh;
}

.gdrp {
  width: 25vw;
  height: 12vh;
  left: 20%;
  transform: translateX(-50%);
  position: absolute;
  font-size:10px;
  font-family: sans-serif;
  background-color:#000000;
  background-size: contain;
  border: none;
  border-radius: 10px;
  z-index: 100;
}

#accept-button {
  bottom:25vh;
  color:#3c248c;
  z-index:100;
  font-size:10px;
  background-color:#ffffff;
}

#decline-button {
  bottom:15vh;
  height:8vh;
  color:#3c248c;
  z-index:100;
  background-color:#ffffff;
}

#learn-button {
  bottom:10vh;
  height:8vh;
  color:#3c248c;
  z-index:100;
  background-color:#ffffff;
}
